// Define variables for your color scheme

// For example:
$red: #E62A2E;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$wp-green: #41B3A3;
$wp-blue: #094b65;
$wp-light-blue: #85dcbb;
$wp-melon: #E8A87C;
$wp-pink: #F38288;
