@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  font-family: 'Abril Fatface', cursive;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.eyes {
  -webkit-animation: move 2s forwards infinite;
  animation: move 2s forwards infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0%);
  }

  20% {
    -webkit-transform: translate(4px, -4px);
  }

  40% {
    -webkit-transform: translate(6px, -4px);
  }

  60% {
    -webkit-transform: translate(12px, 0px);
  }

  80% {
    -webkit-transform: translate(6px, 6px);
  }

  100% {
    -webkit-transform: none;
  }
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translate(4px, -4px);
  }

  40% {
    transform: translate(6px, -4px);
  }

  60% {
    transform: translate(12px, 0px);
  }

  80% {
    transform: translate(6px, 6px);
  }

  100% {
    transform: none;
  }
}

div:before,
div:after {
  content: "4";
  font-size: 200px;
}

p {
  text-align: center;
  margin-top: -40px;
  margin-left: 25px;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #6495ED;
}

a:hover {
  padding: 20px;
  background: #6495ED;
  color: black;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #888888;
}
