<div class="p-3 mb-3">
  <%= cl_image_tag schedule.dog.photo.key, class: 'img-fluid rounded-circle shadow', height: 200, width: 200, crop: :fill %>
  <h2 class="mb-2"><%= schedule.dog.name.capitalize%><small class="h4"></small></h2>
  <p class="mb-2"><%= schedule.dog.age_display %> old</p>
</div>

<div class="d-flex flex-column">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter3">
    <i class="far fa-calendar-alt"></i>
    Sync Calendar
  </button>
  <button type="button" class="btn btn-sm btn-outline-secondary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
    Vets near me
  </button>
  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
    Groomers near me
  </button>
</div>
