<div class="list-group-item mb-1 border-top py-2 rounded-pill bg-light">
  <div class="d-flex w-100 justify-content-between">
    <div class="text-center">
      <%= appointment.scheduled_on.strftime("%b") %>
      <%= appointment.scheduled_on.strftime("%d") %>
    </div>

    <div class="flex-grow-1 px-3">
      <h3 class="h6 mb-0"><%= appointment.title %></h3>
    </div>

    <% year = appointment.scheduled_on.strftime("%Y").to_i %>
    <% if year > Date.current.year %>
      <small class="text-muted">
        next year
      </small>
    <% end %>
  </div>
</div>
