
<div class="navbar-lewagon bg-transparent">
  <div class="container">
    <a href="/"><img
      src=<%= image_path "logo.png" %>
      alt="logo"
      height=60
      href=#home
    >
    </a>
  </div>
</div>
