<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h1>Changing <%= @appointment.title.downcase %> date</h1>
      <%= simple_form_for @appointment, as: :appointment, url: appointment_reschedule_path(@appointment), method: :post do |f| %>
        <%= f.input :scheduled_on, html5: true %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
