.appointment-links {
  color: black;
  &:hover {
    color: #084B65;
  }
}

.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgb(248, 249, 250);
  opacity: 0;
  transition: 0.5s opacity;
}

.appointment-item:hover {
  .edit-overlay {
    opacity: 1;
  }
}
