#header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header .logo
{
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li
{
  list-style: none;
  margin-left: 20px;
}

#header ul li a
{
  text-decoration: 0;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
}

#header ul li a.active,
#header ul li a:hover
{
  background: #094b65;
  color: #fff;
}

.dog-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

// Bottom Gradient
.dog-hero::before {
  content:'';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* 100px high is a gradient transition */
  height: 100px;
  background: linear-gradient(to top, #b8d0da, transparent);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-hero img {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

.dog-hero .text-element {
  position: absolute;

  div {
    line-height: 0;
  }
}

.dog-hero #text {
  color: #094b65;
  font-size: 10vw;
}

.dog-hero .text-elements #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

#btn:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.sec
{
  position: relative;
  padding: 100px;
  background: #094b65;
}

.sec h2
{
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}

#sun {
  position: absolute;
  top: 5vh;
  right: -1vw;
}

#grass {
  position: absolute;
  bottom: -42vh;
}

#dog {
  position: absolute;
  bottom: 5vh;
  left: -15vh;
}

.sec p
{
  font-size: 1em;
  color: #fff;
}
